<div *ngIf="user" [className]="'user card container'">
  <p [className]="'name'">{{ user.name }}</p>
  <img [src]="user.avatar_url" [className]="'avatar'" />
  <p [className]="'login'">@{{ user.login }}</p>
  <div>
    <a [href]="user.html_url">Profile</a>
    <a [className]="'blog'" [href]="user.blog">Blog</a>
  </div>
  <p *ngIf="user.email" [className]="'email'">{{ user.email }}</p>
  <p [className]="'bio'">{{ user.bio }}</p>
  <div [className]="'stats'">
    <div [className]="'stat'">
      <p [className] = "'follower_count'">{{ user.followers }}</p>
      <span>Followers</span>
    </div>
    <div [className]="'stat'">
      <p [className]="'following_count'">{{ user.following }}</p>
      <span>Following</span>
    </div>
    <div [className]="'stat'">
      <p>{{ user.public_repos }}</p>
      <span>Repositories</span>
    </div>
  </div>
</div>

<div [className]="'followers'">
  <div *ngFor="let f of followers">
    <app-followers [follower]="f" (updateEvent)="foo($event)"> </app-followers>
  </div>
</div>

<app-search></app-search>
